@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  font-family: 'Roboto Condensed', sans-serif;
  overflow-x: hidden;
}

.corona-img {
  width: 28px;
  height: 28px;
}

.spinner {
  display: block;
  width: 200px;
  margin: 6rem auto 0;
}

.card-deck {
  min-width: 75vw;
}

input[type='text'],
.card-body {
  background-color: #f7f7f7;
  box-shadow: 0 0 5px #ddd;
}

.new-badge {
  background-color: #e4e4e4;
  font-weight: 400;
}

.chart-style {
  height: 56vh;
  margin: 4rem 0.5rem;
}

.wrapper {
  min-height: 100vh;
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 2px #ddd;
}

/* DESKTOP SCREENS AND ABOVE */
@media only screen and (min-width: 1025px) {
  .chart-style {
    display: block;
    margin: 5rem auto;
    width: 45vw;
  }
}
